* {
    font-family: 'Noto Sans JP', sans-serif;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  color: rgb(100, 255, 255);
  font-size: 5vw;
  text-shadow: 2px 2px 10px #009999, -2px -2px 10px #009999;
}

canvas{
  z-index: -1;
  width: 100vw;
  height:200vh;
}